html {
	height: 100%
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}

#gameArea {
	width: 50%;
	height: 100%;
	float: left;
}
#playArea {
	margin: 8px;
	float: left;
}

#board {
	background: white;
	border-collapse: collapse;
	float:left;
}
#board td {
	width: 50px;
	height: 50px;
	padding: 0;
	border: 1px solid grey;
	position: relative;
}

#board td .wall {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-width: 8px;
	border-color: grey;
	box-sizing: border-box;
}
#board td .wall-North {
	border-top-style: solid
}
#board td .wall-East {
	border-right-style: solid
}
#board td .wall-South {
	border-bottom-style: solid
}
#board td .wall-West {
	border-left-style: solid;
}

#board td.tile-Floor {
	background: url(./sprites.svg) 0 0;
}
#board td.tile-Pit {
	background: url(./sprites.svg) -50px 0;
}
#board td.tile-Repair {
	background: url(./sprites.svg) -100px 0;
}
#board td.tile-Upgrade {
	background: url(./sprites.svg) -150px 0;
}
#board td.tile-Flag {
	background: url(./sprites.svg) 0px -50px;
}
/* curved belts? */
#board td.tile-Conveyor {
	background: url(./sprites.svg) -50px -50px;
}
#board td.tile-ExpressConveyor {
	background: url(./sprites.svg) -100px -50px;
}
#board td.tile-Pusher {
	background: url(./sprites.svg) -150px -50px;
}
#board td.tile-Laser {
	background: url(./sprites.svg) -0px -100px;
}
#board td.tile-Laser {
	background: url(./sprites.svg) -0px -100px;
}
#board td.tile-OffMap {
	background: #222;
}

.dir-North {}
.dir-East {
	transform: rotate(90deg);
}
.dir-West {
	transform: rotate(270deg);
}
.dir-South {
	transform: rotate(180deg);
}
.dir-indeterminent {
	transform: rotate(180deg);
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
/* The animation code */
@keyframes spin {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(90deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }
}

.robot {
	width: 50px;
	height: 50px;
	background: url(./sprites.svg) -100px -100px;
}

#helperBtns, #helperBtns * {
	margin: 4px;
}
#cardslot, #boardslot {
	width: 45px;
}
