html {
    overflow: hidden;
	height: 100%
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}

#messages {
	width: 25%;
	height: 100%;
	position: relative;
	float: left;
}
#gameArea {
	width: 50%;
	height: 100%;
	float: left;
}

#board {
	background: white;
	border-collapse: collapse;
}
#board td {
	width: 50px;
	height: 50px;
	padding: 0;
	border: 1px solid grey;
}
/* TODO repeat */
#board td.wall-North {
	border-top: 3px solid blue;
}
#board td.tile-Floor {
	background: url(./sprites.svg) 0 0;
}
#board td.tile-Pit {
	background: url(./sprites.svg) -50px 0;
}
#board td.tile-Repair {
	background: url(./sprites.svg) -100px 0;
}
#board td.tile-Upgrade {
	background: url(./sprites.svg) -150px 0;
}
#board td.tile-Flag {
	background: url(./sprites.svg) 0px -50px;
}
#board td.tile-Conveyor {
	background: url(./sprites.svg) -50px -50px;
}
#board td.tile-ExpressConveyor {
	background: url(./sprites.svg) -100px -50px;
}
#board td.tile-Pusher {
	background: url(./sprites.svg) -150px -50px;
}
#board td.tile-Laser {
	background: url(./sprites.svg) -0px -100px;
}

#log {
	background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

