html {
	height: 100%
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: lightgrey;
}

#gameArea {
	width: 100%;
}

#gameOver {
	position: absolute;
    top: 40%;
    bottom: 40%;
    left: -10px;
    right: -10px;
    background: white;
    text-align: center;
    font-size: 72px;
	animation-name: wobble;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
#gameOver span {
    vertical-align: middle;
}
@keyframes wobble {
	0% { transform: rotate(-4deg); }
	50% { transform: rotate(4deg); }
	100% { transform: rotate(-4deg); }
}

#playArea {
	margin: 8px;
}

#board {
	border-collapse: collapse;
}
#board td {
	width: 50px;
	height: 50px;
	padding: 0;
	border: 1px solid grey;
	position: relative;
}

#board td .wall {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-width: 4px;
	border-color: #d4aa00;
	box-sizing: border-box;
}
#board td .wall-North {
	border-top-style: solid
}
#board td .wall-East {
	border-right-style: solid
}
#board td .wall-South {
	border-bottom-style: solid
}
#board td .wall-West {
	border-left-style: solid;
}

#board td.tile::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#board td.tile-Floor::before {
	background: url(./sprites.svg) 0 0;
}
#board td.tile-Pit::before {
	background: url(./sprites.svg) -50px 0;
}
#board td.tile-Repair::before {
	background: url(./sprites.svg) -100px 0;
}
#board td.tile-Upgrade::before {
	background: url(./sprites.svg) -150px 0;
}
#board td.tile-Flag::before {
	background: url(./sprites.svg) 0px -50px;
}
/* curved belts? */
#board td.tile-Conveyor::before {
	background: url(./sprites.svg) -50px -50px;
}
#board td.tile-ExpressConveyor::before {
	background: url(./sprites.svg) -100px -50px;
}
#board td.tile-Pusher::before {
	background: url(./sprites.svg) -150px -50px;
}
#board td.tile-Laser::before {
	background: url(./sprites.svg) -0px -100px;
}
#board td.tile-Gear::before {
	background: url(./sprites.svg) -50px -100px;
}
#board td.tile-Spawn::before {
	background: url(./sprites.svg) -100px -100px;
}
#board td.tile-OffMap::before {
	background: #222;
}

td.tile-Gear.dir-South::before, td.tile-Gear.dir-East::before, td.tile-Gear.dir-West::before {
	transform: scaleX(-1)
}
.tile.dir-East::before, .robot.dir-East {
	transform: rotate(90deg);
}
.tile.dir-West::before, .robot.dir-West {
	transform: rotate(270deg);
}
.tile.dir-South::before, .robot.dir-South {
	transform: rotate(180deg);
}
.robot.dir-indeterminent {
	transform: rotate(180deg);
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(90deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }
}

.robot {
	width: 50px;
	height: 50px;
	z-index: 10;
	background: url(./sprites.svg) -150px -200px;
}
.robot.robot-0 {
	background: url(./sprites.svg) -0px -150px;
}
.robot.robot-1 {
	background: url(./sprites.svg) -50px -150px;
}
.robot.robot-2 {
	background: url(./sprites.svg) -100px -150px;
}
.robot.robot-3 {
	background: url(./sprites.svg) -150px -150px;
}
.robot.robot-4 {
	background: url(./sprites.svg) -0px -200px;
}
.robot.robot-5 {
	background: url(./sprites.svg) -50px -200px;
}
.robot.robot-6 {
	background: url(./sprites.svg) -100px -200px;
}
.robot.robot-7 {
	background: url(./sprites.svg) -150px -200px;
}

#ControlForm, #ControlForm * {
	margin: 4px;
}
#cardslot, #boardslot {
	width: 45px;
}
.card .priority {
	color: grey;
}

#error {
	background: yellow;
	color: black;
	position: fixed;
	top: 8px;
	left: 8px;
	padding: 4px;
	border-radius: 8px;
	z-index: 30;
}
